@media only screen and (max-width: 600px) {
    .dashboardComponentFrame {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .frameContainer {
        width: 100%;
        margin: 0%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    #dateSubtitle {
        float: inline-start;
        margin-top: -10px;
    }
}