body {
    font-family: Arial;
    background-color: rgb(25, 25, 25);
    color: rgb(200, 200, 200);
}

h2 {
    color: white;
}

.frameContainer {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-basis: 33%;
    flex-wrap: wrap;
}

.dashboardComponentFrame {
    background-color: rgb(60, 60, 60);
    float: inline-start;
    width: 28%;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 3%;
    padding: 20px;
    margin: 10px;
    max-height: 400px;
    height: 400px;
}

#movementInputContainer {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
}
#smallWorkoutInputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.historyRows {
    max-height: 280px;
    margin-top: 80px;
    color: black;
    overflow-y: scroll;
    scrollbar-width: none;
    border-top-style: solid;
    border-bottom-style: solid;
}

#dateSubtitle {
    float: inline-start;
    position: absolute;
    margin-top: -10px;
}

.inputBox {
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    width: 50px;
    border-radius: 10px;
}
.longInputBox {
    width: 80%;
    display: block;
    margin: auto;
}
#movementInput {
    width: 80%;
}

.inputLabel {
    width: 25%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.historyButtons {
    position: absolute;
}

.historyAdvanceButton {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
}
.historyAdvanceButton:hover {
    background-color: rgb(175, 175, 175);
}
.historyAdvanceButton:active {
    background-color: rgb(150, 150, 150);
}

.undoButton {
    margin: 15px;
    padding: 10px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}
.undoButton:hover {
    background-color: rgb(200, 75, 75);
}
.undoButton:active {
    background-color: rgb(170, 50, 50);
}

.submitButton {
    border-radius: 5px;
    padding: 5px;
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
    font-family: Arial;
    background-color: rgb(150, 200, 150);
}
.submitButton:hover {
    background-color: rgb(125, 175, 125);
}
.submitButton:active {
    background-color: rgb(100, 150, 100);
}

.longSubmitButton {
    width: 75%;
    display: block;
}

.logoutButton {
    border-radius: 10px;
    padding: 5px;
    width: 30%;
    background-color: rgb(200, 200, 200);
}
.logoutButton:hover {
    background-color: rgb(200, 75, 75);
}
.logoutButton:active {
    background-color: rgb(170, 50, 50);
}

.selectedRow {
    background-color: blue;
    cursor: default;
    padding: 5px;
    border-radius: 5px;
}

.unselectedRow:hover {
    background-color: lightblue;
}

.unselectedRow {
    background-color: lightgray;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#xpText {
    font-size: 10px;
}