@media only screen and (max-width: 600px) {
    .dashboardComponentFrame {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    body {
        padding: 30px;  
    }
}